<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}">
    <title>Review Summarizer</title>
    <!-- <style>
        body {
            font-family: Arial, sans-serif;
        }
        form {
            margin: 20px;
        }
        input, button {
            padding: 10px;
            margin: 10px 0;
        }
        
    </style> -->
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='image/summarize_product_reviews.png') }}" alt="header_image">
        <!-- <h1>Summarize Product Reviews</h1> -->
    </div>
    
    
    <!-- Summarize Form (Hidden by default) -->
    <form id="summarizeForm">
        <!-- <label for="productInput">Enter Product Name/Category:</label><br> -->
        <input type="text" id="productInput" name="user_input" placeholder="Enter Product Name/category" required><br>
        <!-- <label for="productInput">Enter Subreddit Name:</label> -->
        <input type="text" id="productInput" name="subreddit" placeholder=" Subreddit Name"><br>
        <div class="summary">
            <label for="summaryLength" id="summary_head" font_>Summary Length:</label><br>
            <input type="range" id="summaryLength" name="input_length" min="10" max="100" value="50">
            <span id="rangeValue">100</span> words<br>
        </div>
        
        <button type="submit">Generate Summary</button>
    </form>
    
    

    <!-- Display Results -->
    <div id="result"></div>

    <script>
        //const uploadForm = document.getElementById('uploadForm');
        const summarizeForm = document.getElementById('summarizeForm');
        const range = document.getElementById('summaryLength');
        const rangeValue = document.getElementById('rangeValue');
        const resultDiv = document.getElementById('result');

        // Update the displayed range value as the slider is moved
        range.addEventListener('input', function() {
            rangeValue.textContent = range.value;
        });

        // Handle file upload
        // uploadForm.addEventListener('submit', function(event) {
        //   event.preventDefault();

        //     const formData = new FormData(uploadForm);

        //     fetch('/upload', {
        //       method: 'POST',
        //         body: formData
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         if (data.message) {
        //             alert(data.message);
        //             summarizeForm.style.display = 'block'; // Show summarize form after successful upload
        //         } else {
        //             alert(data.error);
        //         }
        //     })
        //     .catch(error => console.error('Error:', error));
        // }); // -->

        // Handle summarization form submission
        summarizeForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(summarizeForm);

            fetch('/summarize', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    resultDiv.innerHTML = `<p>${data.error}</p>`;
                } else {
                    resultDiv.innerHTML = `<div class = "positive_reviews">
	                                            <div class = "head">Positive Reviews</div>
	                                            <div class = "para">${data.positive_summary}</div>
                                            </div>
                                           <div class = "negative_reviews">
	                                            <div class = "head">Negative Reviews</div>
	                                            <div class = "para">${data.negative_summary}</div>
                                            </div>`;
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
